<div class="modal-header">
  <h4 class="modal-title pull-left" id="my-modal-title">Update form</h4>
  <span aria-hidden="true" class="visually-hidden">&times;</span>
</div>
<div class="modal-body">
  <div id="my-modal-description">
    <div id="updateCwimpieForm">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
        <button
          mat-raised-button
          type="button"
          color="primary"
          (click)="toggleNewColour()"
        >
          {{addNewColour ? "Don't add new colour" : "Add new colour"}}
        </button>
      </form>
    </div>
  </div>
</div>
