<mdb-accordion-item>
  <ng-template
    mdbAccordionItemHeader
    class="daily-schedule-card"
  >
    {{data.name}}
  </ng-template>
  <ng-template
    mdbAccordionItemBody
  >
    <div
      *ngFor="let dailySchedule of data.dailyScheduleId"
      class="daily-schedule-card__schedule"
    >
      <div class="daily-schedule-card__schedule__date">
        {{currentDateString}}
      </div>
      <div class="daily-schedule-card__schedule__tasks">
        <app-task-card
          *ngFor="let task of dailySchedule.tasks"
          class="daily-schedule-card__schedule__tasks__task"
          [taskData]="task"
        >
        </app-task-card>
      </div>
    </div>
  </ng-template>
</mdb-accordion-item>
