<div class="theme-warm-orange">
  <section
    *ngIf="!isLoading"
  >
    <section
      *ngIf="this.todayData != undefined"
    >
      <article
        class="card"
      >
        <!--  Left side-->
        <section class="card__profile">
          <section class="card__profile__photo">
            <img class="card__profile__photo__image" src="{{data!.photo}}" alt="">
          </section>
          <h2 class="card__profile__name">{{data.name}}</h2>
          <section class="card__profile__jobs">
            <p class="card__profile__jobs__professions">
              {{professionNames}}
            </p>
            <section class="card__profile__jobs__hobbies">
              <strong class="card__profile__jobs__hobbies__title">
                Hobbies:
              </strong>
              <p class="card__profile__jobs__hobbies__list">
                {{hobbyNames}}
              </p>
            </section>
          </section>
          <section class="card__profile__social-media-icons">
            <i class="fa-brands fa-square-facebook card__profile__social-media-icons__icon"></i>
            <i class="fa-brands fa-linkedin card__profile__social-media-icons__icon"></i>
            <i class="fa-brands fa-youtube card__profile__social-media-icons__icon"></i>
          </section>
        </section>

        <!--  Right side-->
        <section class="card__tasks">
          <time class="card__tasks__date">
            {{currentDateString}}
          </time>

          <section class="card__tasks__list">
            <app-task-card
              *ngFor="let task of todayData.tasks"
              class="daily-schedule-card__schedule__tasks__task"
              [taskData]="task"
            >
            </app-task-card>
          </section>
        </section>
      </article>
    </section>
  </section>
  <!--  There is no schedule data  -->
  <h1
    *ngIf="this.todayData == undefined"
  >
    {{data.name}} doesn't have anything on today!
  </h1>
</div>
