<article
  (click)="toggleClicked()"
  [@toggleClick]="clicked"
  class="commandment-item"
>
  <section class="commandment-item__icon">
    <i class="fa-solid fa-{{data.icon}}"></i>
  </section>
  <h3 class="commandment-item__title">
    {{data.title}}
  </h3>
  <section class="commandment-item__rules">
    <p
      class="commandment-item__rules__main-rule"
    >
      {{data.rule}}
    </p>
    <em
      *ngIf="data.sub_rule"
      class="commandment-item__rules__sub-rule"
    >
      {{data.sub_rule}}
    </em>
  </section>
</article>
