@use "/src/common/styles/abstracts" as a;
@use "/src/common/styles/themes/all-themes" as t;
@use "/src/common/styles/components" as c;


.commandment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 18rem;
  cursor: pointer;
  transition: transform ease-in 250ms;

  //&__index {
  //  background-color: darkgrey;
  //  width: 2em;
  //  height: 2em;
  //  border-radius: 50%;
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  border: 3px solid black;
  //  box-sizing: border-box;
  //}

  &__icon {
    background-color: white;
    border-radius: 50%;
    padding: 2rem;
    font-size: 7rem;
  }

  &__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    @include a.themify(t.$themes) using($theme-map) {
      color: a.themed($theme-map, a.$primaryTextColour);
    }
    letter-spacing: 0.3rem;
    font-weight: bold;
  }

  &__rules {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__sub-rule {
      font-style: italic;
    }
  }

  &:hover {
    transform: scale(1.15);
  }
}
