.commandment-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;

  &__index {
    background-color: darkgrey;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    box-sizing: border-box;
  }

  &__rules {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: flex-start;
  }
}
