<div class="upload-wrapper">
  <div class="file-container">
    <div class="file" *ngFor="let file of selectedFiles; let i = index">
      <img [src]="getSanitizedImageUrl(file)" />
      <span (click)="onDelete(i)">X</span>
    </div>
  </div>
  <div class="upload-container" (click)="openFileInput()">
    <div class="mask"></div>
    <div class="helper-text">
      <div class="absolute-div">
        <div>
          Upload images
        </div>
      </div>
    </div>
    <input
      #fileinput
      [multiple]="to['multiple']"
      id="file-input"
      type="file"
      [formControl]="formControl"
      [formlyAttributes]="field"
      (change)="onChange($event)"
      accept=".png,.jpg"
      style="display: none"
    />
  </div>
</div>
