<article class="page">
  <div class="theme-warm-orange">
    <section
      *ngIf="!loading"
    >
      <section
        class="filter-tabs"
      >
        <!-- Tabs navs -->
        <div
          class="filter-tabs__nav"
          id="userFilters"
          role="tablist"
          appActiveTab
          @tabAnimationTrigger
        >
          <section
            #options
            id="{{option.username}}Filter"
            class="filter-tabs__nav__option horizontal-animation"
            role="presentation"
            *ngFor="let option of filterOptions;"
            appFilterTab
            [filterValue]="option.username"
            (filterTabData)="filterCwimpies($event)"
          >
            <p
              class="filter-tabs__nav__option__text"
              id="{{option.username}}Filter"
            >
              {{option.displayName}}
            </p>
          </section>
        </div>
        <!-- Tabs navs -->
      </section>

      <section class="allCwimpies_layout"
           [@listAnimationTrigger]="this.allCwimpies.length"
      >
        <!--  <mat-spinner *ngIf="loading"></mat-spinner>-->
        <app-reduced-cwimpie-card
          *ngFor="let cwimpie of allCwimpies"
          [cwimpieData]="cwimpie"
          (deletedCwimpieName)="refreshAllCwimpies($event)"
          class="reduced-cwimpie-card"
        ></app-reduced-cwimpie-card>
        <h1
          *ngIf="allCwimpies.length == 0"
        >
          All the cwimpies are sleeping
        </h1>
      </section>
    </section>
  </div>
</article>
