<div class="theme-warm-orange">
  <div
    *ngIf="!loading"
  >
    <div
    >
      <!-- Tabs navs -->
      <div
        class="nav nav-tabs mb-3"
        id="userFilters"
        role="tablist"
        appActiveTab
        @tabAnimationTrigger
      >
        <div
          #options
          id="{{option.username}}Filter"
          class="nav-item filterOption"
          role="presentation"
          *ngFor="let option of filterOptions;"
          appFilterTab
          [filterValue]="option.username"
          (filterTabData)="filterCwimpies($event)"
        >
          <p
            class="nav-link"
            data-mdb-toggle="tab"
            role="tab"
            id="{{option.username}}Filter"
          >
            {{option.displayName}}
          </p>
        </div>
      </div>
      <!-- Tabs navs -->
    </div>

    <div class="allCwimpies_layout"
         [@listAnimationTrigger]="this.currentCwimpies.length"
    >
      <!--  <mat-spinner *ngIf="loading"></mat-spinner>-->
      <app-reduced-cwimpie-card
        *ngFor="let cwimpie of currentCwimpies"
        [cwimpieData]="cwimpie"
        (deletedCwimpieName)="refreshAllCwimpies($event)"
        class="reduced-cwimpie-card"
      ></app-reduced-cwimpie-card>
      <h1
        *ngIf="allCwimpies.length == 0"
      >All the cwimpies are sleeping :(</h1>
    </div>
  </div>
</div>
