<article class="chai-card">
  <section class="task-card">
    <section class="task-card__times">
      <h3 class="task-card__times__start">
        {{startTime}}
      </h3>
      -
      <h3 class="task-card__times__end">
        {{endTime}}
      </h3>
    </section>

    <section class="task-card__title">
      <h2 class="task-card__title__name">
        {{task.name}}
      </h2>
    </section>

    <p class="task-card__description">
      {{task.description}}
    </p>
  </section>
  <article class="status">
    <i class="fa-solid fa-check status__icon"></i>
  </article>
</article>
