<div class="chai-card">
  <div class="task-card">
    <div class="task-card__times">
      <div class="task-card__times__start">
        {{startTime}}
      </div>
      -
      <div class="task-card__times__end">
        {{endTime}}
      </div>
    </div>

    <div class="task-card__title">
      <div class="task-card__title__name">
        {{task.name}}
      </div>
    </div>

    <div class="task-card__description">
      {{task.description}}
    </div>
  </div>
  <div class="status">
    <i class="fa-solid fa-check status__icon"></i>
  </div>
</div>
