<div class="theme-warm-orange">
  <article class="modal-body postcard">
    <section class="postcard__left">
      <section class="postcard__left__photo">
        <img src="{{data.photo}}" alt="">
      </section>
      <section class="postcard__left__welcome">
        <h2 class="postcard__left__welcome__start">
          Hi there, my name's
        </h2>
        <h1 class="postcard__left__welcome__name">
          {{data.name}}
        </h1>
      </section>
      <section class="postcard__left__logo">
        Chai
      </section>
    </section>
    <section class="postcard__right">
      <section class="postcard__right__header">
        <h3 class="postcard__right__header__date">
          {{currentDateString}}
        </h3>
        <section class="postcard__right__header__stamp">
          <app-cwimpie-stamp
            [stampData]="stampData"
          ></app-cwimpie-stamp>
        </section>
      </section>
      <section class="postcard__right__body">
        <section class="postcard__right__body__welcome">
          <h1
            class="postcard__right__body__welcome__title"
            [ngStyle]="{'color': data.colour!.hexCode}"
          >
            Welcome !!
          </h1>
          <h2 class="postcard__right__body__welcome__subtitle">
            It's so nice to meet you, my name's {{data.name}}
          </h2>
        </section>
        <section class="postcard__right__body__text">
          <section>
            This is my personal postcard to let others know a little more about me. I'd love to hear more about you
            though, so feel free to visit me whenever you have time!
          </section>
          <section>
            I was born on {{birthDateString}}, in a wonderful shade of {{data.colour?.name}}. <br>
            Technically speaking, I'm a {{data.species!.name}} but we're all cwimpies here.
          </section>
          <section>
            I'm currently in a loving relationship with {{data.partner}}, which always makes me super happy hehe. Aside
            from that, I'm currently residing with {{data.primaryParent!.name}}.
          </section>
          <section>
            During the week, I have various jobs, which includes being a {{professionNamesString}}. <br>
            But I also have lots of hobbies, such as being a {{hobbyNamesString}}.
          </section>
          <section>
            Finally, here's just a list of my favourite things in the whole world!
            <ul class="list">
              <li
                *ngFor="let favourite of data!.favourites"
              >
                My favourite {{favourite.type|lowercase}} is {{favourite.name|lowercase}}
              </li>
            </ul>
          </section>
        </section>
      </section>
      <div class="postcard__right__footer">
        {{addressNumber}} Cwimpies Avenue, JellyCat Boulevard, {{addressNumber}}4
      </div>
    </section>
  </article>
</div>
