<section id="addCwimpieForm">
  <form
    [formGroup]="form"
    (ngSubmit)="submit()"
    enctype="multipart/form-data"
  >
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form">
    </formly-form>
    <button
      mat-raised-button
      type="button"
      color="warn"
      (click)="options?.resetModel()"
    >
      Reset
    </button>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="toggleNewColour()"
    >
      {{addNewColour ? "Don't add new colour" : "Add new colour"}}
    </button>
    <button
      mat-raised-button
      type="button"
      color="primary"
      (click)="insertRandomValues()"
    >
      Provide default values
    </button>
    <app-colour-menu></app-colour-menu>
  </form>
</section>
