* {
  margin: 0;
  padding: 0;
  font-size: calc(60% + 0.8vmin);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;

  app-root {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    app-header {
      order: 1;
      flex: 1;
    }

    main {
      order: 2;
      flex: 6;
      margin-left: 1rem;
      margin-right: 1rem;
      min-height: 80vh;
    }

    app-footer {
      order: 3;
      flex: 1;
    }
  }
}
