@use "../abstracts" as a;
@use "../themes/all-themes" as t;

* {
  margin: 0;
  padding: 0;
  font-size: calc(60% + 0.8vmin);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
}

app-header {
  flex: 1;
}

main {
  flex: 6;
  min-height: 80vh;
  padding: 1rem;
  @include a.themify(t.$themes) using($theme-map) {
    background-image: linear-gradient(to bottom right, #FFFFFF, a.themed($theme-map, a.$backgroundColour));
  }
  margin: 0;;
}

app-footer {
  flex: 1;
}
