<div>
  <h1>Profile</h1>
  <div
    *ngIf="currentUser"
  >
    <h2>Welcome {{currentUser.name}}</h2>
  </div>

  <div
    *ngIf="(!isLoading && allCwimpies.length != 0)"
    @loadCarouselAnimationTrigger
  >
    <h1>Your cwimpies!</h1>
    <mdb-carousel [controls]="true" [indicators]="true" id="userCarousel" class="carousel-fade">
      <mdb-carousel-item
        *ngFor="let cwimpie of allCwimpies"
      >
        <app-profile-cwimpie-card
          [cwimpieData]="cwimpie"
        ></app-profile-cwimpie-card>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>
