<div>
  <h1>Profile</h1>
  <div
    *ngIf="currentUser"
  >
    <h2>Welcome {{currentUser.name}}</h2>
  </div>

  <div
    *ngIf="(!isLoading && allCwimpies.length != 0)"
    @loadCarouselAnimationTrigger
  >
    <h1>Your cwimpies!</h1>
    <mdb-carousel
      [controls]="true"
      [indicators]="false"
      id="userCarousel"
      class=""
      *ngIf="allCwimpies.length > 1"
    >
      <mdb-carousel-item
        *ngFor="let cwimpie of allCwimpies"
      >
        <app-profile-cwimpie-card
          [cwimpieData]="cwimpie"
        ></app-profile-cwimpie-card>
      </mdb-carousel-item>
    </mdb-carousel>

    <app-profile-cwimpie-card
      *ngIf="allCwimpies.length == 1"
      [cwimpieData]="allCwimpies[0]"
    ></app-profile-cwimpie-card>
  </div>
</div>
