@use "/src/common/styles/abstracts" as a;
@use "/src/common/styles/themes/all-themes" as t;
@use "/src/common/styles/components" as c;

.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

  &__titles {
    &__main {
      @include a.themify(t.$themes) using($theme-map) {
        @include c.page_title(a.themed($theme-map, a.$primaryTextColour))
      }
    }

    &__subtitle {
      @include a.themify(t.$themes) using($theme-map) {
        @include c.subtitle(a.themed($theme-map, a.$primaryColour), true)
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 13rem;

    &__navigation {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 3rem;

      &__title {
        @include a.themify(t.$themes) using($theme-map) {
          @include c.subtitle(a.themed($theme-map, a.$secondaryColour), false)
        }
        font-weight: bold;
      }

      &__links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;

        .black-btn {
          @include c.hover-fill-button(#000000, #FFFFFF)
        }
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.2rem;
        line-height: 1rem;
      }
    }

    &__cwimpies {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 3rem;

      &__title {
        @include a.themify(t.$themes) using($theme-map) {
          @include c.subtitle(a.themed($theme-map, a.$secondaryColour), false)
        }
        font-weight: bold;
      }

      &__carousel {
        width: 100%;
      }
    }
  }
}
