<div class="theme-warm-orange">
  <div
    class="commandments"
  >
    <div class="commandments__titles">
      <h1
        class="commandments__titles__title"
      >
        Commandments
      </h1>
      <h3
        class="commandments__titles__subtitle"
      >
        These commandments were all decreed by Judge Nana. <br>
        Click on one to toggle its read status
      </h3>
    </div>
    <div
      @commandmentsAnimationTrigger
      *ngIf="!isLoading"
      class="commandments__commandment-items"
    >
      <app-commandment-item
        *ngFor="let commandment of commandments; let i = index"
        [commandmentData]="commandment"
        [index]="i"
      >
      </app-commandment-item>
    </div>
  </div>
</div>
