<div>
  <h1>Commandments</h1>
  <ol>
    <li>
      No male cwimpie can be younger than their partner
    </li>
    <li>
      All cwimpies must supa like eggplant
    </li>
    <li>
      All cwimpies must defend mummy and be on her side !!
    </li>
    <li>
      All cwimpies must be awake when mummy is making announcements <br>
      <em>Optional for daddy's announcements</em>
    </li>
    <li>All cwimpies must deny that mummy's tooted <br>
      <em>Optional for daddy's toots</em>
    </li>
  </ol>
</div>
