<div class="theme-warm-orange">
  <article
    class="commandments"
  >
    <section class="commandments__titles">
      <h1
        class="commandments__titles__title"
      >
        Commandments
      </h1>
      <h2
        class="commandments__titles__subtitle"
      >
        These commandments were all decreed by Judge Nana (Bam Bam!) <br>
        Click on one to toggle its read status
      </h2>
    </section>
    <div
      @commandmentsAnimationTrigger
      *ngIf="!isLoading"
      class="commandments__commandment-items"
    >
      <app-commandment-item
        *ngFor="let commandment of commandments; let i = index"
        [commandmentData]="commandment"
        [index]="i"
      >
      </app-commandment-item>
    </div>
  </article>
</div>
