<div class="navbar">
  <div
    *ngIf="isAuthenticated"
  >
    <button
      mat-button
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >
      Chai
    </button>
  </div>

  <div
    *ngIf="!isAuthenticated"
  >
    <button
      mat-button
      routerLink="/login"
      routerLinkActive="active"
    >
      Login
    </button>
  </div>
  <div
    *ngIf="isAuthenticated"
  >
    <button
      mat-button
      routerLink="/view-bunnies"
      routerLinkActive="active"
    >
      View Cwimpies!
    </button>
  </div>
  <div
    *ngIf="isAuthenticated"
  >
    <button
      mat-button
      routerLink="/generate"
      routerLinkActive="active"
    >
      Generate
    </button>
  </div>
  <div
    *ngIf="isAuthenticated"
  >
    <button
      mat-button
      routerLink="/schedule"
      routerLinkActive="active"
    >
      Daily schedule
    </button>
  </div>
  <div
    *ngIf="isAuthenticated"
  >
    <button
      mat-button
      [matMenuTriggerFor]="profileMenu"
      routerLinkActive="active"
    >
      Profile
    </button>
    <mat-menu #profileMenu="matMenu" xPosition="before">
      <button
        mat-menu-item
        routerLink="/profile"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        Profile
      </button>
      <button
        mat-menu-item
        (click)="onLogout()"
      >
        Logout
      </button>
    </mat-menu>
  </div>
</div>
