<header>
  <div class="theme-warm-orange">
    <nav class="navigation" [attr.data-visible]="navbarVisible">
      <div class="primary-header">
        <app-hamburger-close
          [buttonControl]="'primary-navigation'"
          [initialVisibleState]="true"
          (itemVisibleEvent)="toggleNavbar($event)"
          class="mobile-nav-toggle"
        >
        <span class="sr-only">
          Menu
        </span>
        </app-hamburger-close>
        <div class="logo">
          <a class=""
             routerLink="/"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
          >
            Chai
          </a>
        </div>
      </div>

      <ul id="primary-navigation"
          class="primary-navigation"
          [attr.data-visible]="navbarVisible"
      >
        <div class="primary-navigation__sub" id="primary-navigation__left">
          <li class="">
            <a class=""
               routerLink="/cwimpies"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               *ngIf="isAuthenticated"
            >
              VIEW
            </a>
          </li>
          <li class="">
            <a class=""
               routerLink="/cwimpies/generate"
               routerLinkActive="active"
               *ngIf="isAuthenticated"
            >
              GENERATE
            </a>
          </li>
        </div>
        <div class="primary-navigation__sub" id="primary-navigation__right">
          <li class="">
            <a class=""
               routerLink="/auth/login"
               routerLinkActive="active"
               *ngIf="!isAuthenticated"
            >
              LOGIN
            </a>
          </li>
          <li class="">
            <a class=""
               routerLink="/about-us"
               routerLinkActive="active"
               *ngIf="!isAuthenticated"
            >
              ABOUT US
            </a>
          </li>
          <li class="">
            <a class=""
               routerLink="/profile"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               *ngIf="isAuthenticated"
            >
              PROFILE
            </a>
          </li>
          <li class="">
            <button class="black-btn"
                    (click)="onLogout()"
                    *ngIf="isAuthenticated"
            >
              Logout
            </button>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</header>
