@use "/src/common/styles/components" as c;

$gap: 1rem;
$white: 0, 0%, 100%;

:host {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 9999;
}

// Primary header
.navigation {
  align-items: center;
  z-index: 9999;
  display: flex;
  gap: $gap;

  .active {
    color: red !important;
    border-bottom: .2rem solid hsl(0 100% 50% / 1);
    padding-bottom: 1rem;
  }

  .black-btn {
    @include c.hover-fill-button(#000000, #FFFFFF)
  }

  a {
    color: black;
  }
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;

  gap: 3rem;
  display: flex;

  a {
    text-decoration: none;
    transition: 250ms ease-in;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    color: white;

    > [aria-hidden="true"] {
      font-weight: 700;
      margin-inline-end: 0.75em;
    }

    &:link, &:visited {
      color: black;
    }

    &:hover {
      color: red;
      transform: scale(1.15);
    }
  }

  &__sub {
    font-weight: bold;
  }
}

@media (max-width: 35em) {
  .navigation {
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    right: 0;
    transition: transform 350ms ease-out;
    height: 100%;

    .primary-header {
      margin-top: 1rem;
      justify-content: center;
      gap: 1rem;

      .logo {
        text-align: center;
      }
    }

    .primary-navigation {
      inset: 0 0 0 50%;
      color: black;
      z-index: 9000;
      gap: 1rem;
      overflow-y: auto;

      padding: min(10vh, 3rem) 2em;
      flex-direction: column;

      transform: translateX(100%);
      transition: transform 350ms ease-out;
      height: 100%;
      justify-content: space-between;

      a:link {
        color: black;
      }

      a:visited {
        color: black;
      }

      &[data-visible='true'] {
        transform: translateX(0%);
      }

      &__sub {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    .mobile-nav-toggle {
      z-index: 9999;
      border: 0;
      width: 2rem;
      aspect-ratio: 1;
      display: block;
      background-color: transparent;

      &:focus-visible {
        outline: 5px solid white;
        outline-offset: 5px;
      }
    }
  }

  @supports (backdrop-filter: blur(1rem)) {
    .navigation[data-visible='true'] {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }
}

@media (min-width: 35em) and (max-width: 54.999em) {
  .primary-navigation {
    a {
      > [aria-hidden="true"] {
        display: none;
      }
    }
  }
}

@media (min-width: 35em) {
  .navigation {
    flex-direction: row;
    justify-content: space-between;
    //box-shadow: 0 2px 1px -1px rgb(0 0 0 / 70%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    width: 100%;
  }

  .primary-navigation {
    flex-direction: row;
    padding-block: 2rem;
    padding-inline: clamp(3rem, 5vw, 10rem);
    $gap: clamp(1.5rem, 5vw, 3rem);
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding-left: 40%;
    letter-spacing: 0.2rem;

    &__sub {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
    }
  }

  .logo {
    margin: 2rem;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .navigation {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }
}

.sr-only { // Stands for screen reader only
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
