// Universal colours
$black: #000000;
$white: #FFFFFF;

// Sunset
$ss--pink: #F78888;
$ss--yellow: #F3D250;
$ss--grey: #ECECEC;
$ss--lightBlue: #90CCF4;
$ss--blue: #5DA2D5;

// Cold Grass
$cg--green: #00887A;
$cg--peach: #FFCCBC;
$cg--lightBlue: #D3E3FC;
$cg--blue: #77A6F7;

