@use "./colours" as c;

$primary: primary;
$secondary: secondary;
$surface: surface;
$background: background;
$on-primary: on-primary;
$on-secondary: on-secondary;
$on-surface: on-surface;

$color-map--cold-grass : (
  primary: c.$cg--green,
  secondary: c.$cg--green,
  surface: c.$cg--lightBlue,
  background: c.$cg--peach,
  on-primary: c.$black,
  on-secondary: c.$black,
  on-surface: c.$white,
);

$color-map--sunset :  (
  primary: c.$ss--blue,
  secondary: c.$ss--pink,
  surface: c.$ss--lightBlue,
  background: c.$ss--pink,
  on-primary: c.$ss--yellow,
  on-secondary: c.$black,
  on-surface: c.$white,
);

$color-map--cold-grass2 : (
  primary: c.$cg--green,
  secondary: c.$cg--green,
  surface: c.$cg--lightBlue,
  background: c.$cg--peach,
  on-primary: c.$black,
  on-secondary: c.$black,
  on-surface: c.$white,
);
