@use "./colours" as c;

// Variables to be set for each theme, so that we have a consistent naming pattern for every theme
$primary: primary;
$secondary: secondary;
$tertiary: tertiary;
$surface: surface;
$background: background;
$on-primary: on-primary;
$on-secondary: on-secondary;
$on-tertiary: on-tertiary;


// Variables to be used by other style sheets to access theme colours
$primaryColour: primaryColor;
$secondaryColour: secondaryColour;
$tertiaryColour: tertiaryColour;
$backgroundColour: backgroundColour;
$primaryTextColour: primaryTextColour;
$secondaryTextColour: secondaryTextColour;
$tertiaryTextColour: tertiaryTextColour;


$color-map--warm-orange :  (
  $primary: c.$wo-orange,
  $secondary: c.$wo-red,
  $tertiary: c.$wo-darkred,
  $surface: c.$wo-lightorange,
  $background: c.$wo-lightorange,
  $on-primary: c.$wo-darkgrey,
  $on-secondary: c.$wo-grey,
  $on-tertiary: c.$wo-lightgrey,
);
