<div class="all-schedules"
     *ngIf="(!loading && allCwimpieSchedules != undefined)"
>
  <div class="theme-cold-grass">
    <h1 class="all-schedules__title">Daily Schedules</h1>
  </div>
  <div
    *ngIf="allCwimpieSchedules.length != 0"
    class="all-schedules__content"
  >
    <mdb-accordion>
      <app-daily-schedule-card
        *ngFor="let cwimpieSchedule of allCwimpieSchedules"
        [cwimpieSchedule]="cwimpieSchedule"
      ></app-daily-schedule-card>
    </mdb-accordion>
  </div>
  <h1
    *ngIf="allCwimpieSchedules.length == 0"
  >
    All the Cwimpies are supa free today !!</h1>
</div>
