<article class="all-schedules"
         *ngIf="(!loading && allCwimpies != undefined)"
>
  <div class="theme-warm-orange">
    <header>
      <h1 class="all-schedules__title">Daily Schedules</h1>
    </header>
  </div>
  <section
    *ngIf="allCwimpies.length != 0"
    class="all-schedules__content"
    @loadSchedulesAnimationTrigger
  >
    <app-daily-schedule-card
      *ngFor="let cwimpie of allCwimpies"
      [cwimpieData]="cwimpie"
      class="horizontal-animation"
    ></app-daily-schedule-card>
  </section>
  <h1
    *ngIf="allCwimpies.length == 0">
    >  <!-- There are no cwimpies !-->
    All the Cwimpies are supa free today !!</h1>
</article>
