<div class="all-schedules"
     *ngIf="(!loading && allCwimpies != undefined)"
>
  <div class="theme-warm-orange">
    <h1 class="all-schedules__title">Daily Schedules</h1>
  </div>
  <div
    *ngIf="allCwimpies.length != 0"
    class="all-schedules__content"
  >
    <app-daily-schedule-card
      *ngFor="let cwimpie of allCwimpies"
      [cwimpieData]="cwimpie"
    ></app-daily-schedule-card>
  </div>
  <h1
    *ngIf="allCwimpies.length == 0">
  >  <!-- There are no cwimpies !-->
    All the Cwimpies are supa free today !!</h1>
</div>
