<div class="theme-warm-orange">
  <article class="about-us">
    <section class="title">
      <h1 class="title__subtitle">
        Building a life for
      </h1>
      <h2 class="title__main">
        soft toys that we love
      </h2>
    </section>

    <section class="information">
      <img class="information__landscape" src="/assets/about-us/Cwimpies-landscape.jpg" alt="">
      <img class="information__portrait" src="/assets/about-us/Cwimpies-portrait.jpg" alt="">
      <section class="information__content">
        <h1 class="information__content__title">
          Welcome to Chai
        </h1>
        <section class="information__content__body">
          <p class="information__content__body__main">
            Chai is a soft toy tracking application, used to create back stories and document the lives of your various
            soft toys.
            You can name them, assign them hobbies, job, partners, even schedules that they carry out every day.
          </p>
          <p class="information__content__body__author-note">
            It might seem a little silly haha, but its a cute way to interact with your soft toys, affectionately
            called cwimpies!
          </p>
        </section>
        <section class="information__content__footer">
          On a technical level, Chai was built as a PWA, using Angular in the frontend, NodeJS and Express as the
          backend,
          and MongoDB as a database. I also deployed it using Firebase.
        </section>
      </section>
    </section>
  </article>
</div>
