@use "/src/common/styles/abstracts" as a;
@use "/src/common/styles/themes/all-themes" as t;
@use "/src/common/styles/components" as c;

.about-us {
  display: flex;
  flex-direction: column;
  grid-gap: 13rem;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &__subtitle {
      @include a.themify(t.$themes) using($theme-map) {
        @include c.subtitle(a.themed($theme-map, a.$primaryColour))
      }
    }

    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 4rem;
      background: -webkit-linear-gradient(#F7861D, #FC380C);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      height: 4.5rem;
      letter-spacing: 0.2rem;
      font-weight: bold;
    }
  }

  .information {
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #F7861D, #FC380C);
    max-width: 47%;

    display: grid;
    grid-template-rows: 8rem 0.1fr 2fr;
    grid-template-columns: 0.1fr 1fr 8rem;
    padding: 2rem;
    grid-gap: 1rem;
    background-color: white;

    img {
      border: 10px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(to left, #F7861D, #FC380C);
    }

    &__portrait {
      grid-column: 3 / span 1;
      grid-row: 2 / -1;
      justify-self: flex-start;
      align-self: center;
      max-width: 200%;
    }

    &__landscape {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      justify-self: flex-start;
      align-self: flex-end;
      max-height: 250%;
    }

    &__content {
      grid-column: 1 / span 2;
      grid-row: 3 / -1;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 3rem;

      &__title {
        color: #636262;
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-weight: bold;
      }

      &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: #565551;
        gap: 1rem;
        line-height: 1.5rem;
        font-size: 1.5rem;
        max-width: 40ch;

        &__main {

        }

        &__author-note {

        }
      }

      &__footer {
        width: 50%;
        color: #808080;
        font-size: 1rem;
        line-height: 1.2rem;
      }
    }
  }
}


