@use "/src/common/styles/abstracts" as a;
@use "/src/common/styles/themes/all-themes" as t;
@use "/src/common/styles/components" as c;

.card {
  padding: 0;
  margin: 0.5rem;

  @include a.themify(t.$themes) using($theme-map) {
    @include c.image_with_text_overlay(".card__image", #FFFFFF, a.themed($theme-map, a.$backgroundColour), 0.5rem)
  }
}

mat-tab-group, mat-card-footer {
  padding: 0.5rem;
}

//
//.image__text__body__species {
//  background-size: cover;
//}

.card_actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.main {
  font-weight: bold;
}

