<div class="theme-warm-orange">
  <div class="cwimpie-card">
    <mat-card>
      <div
        class="openModal click cwimpie-card__image"
        (click)="openCwimpieModal()"
        matRipple
      >
        <img class="cwimpie-card__image__photo" src="{{initialData!.photo}}" alt="">
        <div class="cwimpie-card__image__text">
          <div class="cwimpie-card__image__text__title">
            <div>{{initialData!.name}}</div>
          </div>
          <div class="cwimpie-card__image__text__body">
            <div class="cwimpie-card__image__text__body__species"
                 style="background-image: url('/assets/icons/species/{{initialData!.species!.iconName}}')">
              <div>{{initialData!.species!.name}}</div>
            </div>
            <div
              class="cwimpie-card__image__text__body__species__sex_container">
              <ng-container
                *ngIf="initialData.sex === 'Male'; then male; else female"
              ></ng-container>
              <div #sex>
                <ng-template #male>
                  <i class="fa-solid fa-mars"></i>
                </ng-template>
                <ng-template #female>
                  <i class="fa-solid fa-venus"></i>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-card-content>
        <mat-tab-group mat-align-tabs="start">
          <mat-tab label="Job" class="job-tab">
            <div
              *ngFor="let job of initialData!.professions"
              [ngClass]="{job__main: job!.type === 'Main'}"
            >
              {{job!.name}}
            </div>
          </mat-tab>
          <mat-tab label="Hobbies">
            <div
              *ngFor="let hobby of initialData!.hobbies"
            >
              {{hobby!.name}}
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
      <mat-card-actions
        class="cwimpie-card__actions"
      >
        <button
          class="update-button"
          (click)="openUpdateCwimpieModal()"
        >
          Update
        </button>
        <button
          class="delete-button"
          (click)="openDialog(initialData!.name)"
        >
          <i class="fa-solid fa-xmark"></i>
        </button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
