@use "/src/common/styles/components" as c;

.card {
  padding: 0;
  margin: 0.5rem;

  @include c.image_with_text_overlay(".card__image", #FFFFFF, #d3d3d3)
}

mat-tab-group, mat-card-footer {
  padding: 0.5rem;
}

//
//.image__text__body__species {
//  background-size: cover;
//}

.card_actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}

.main {
  font-weight: bold;
}

