mdb-carousel {
  .carousel-slide {
    .carousel-indicators {
      button {
        color: #000000;
        opacity: 1 !important;
      }
    }
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    color:#000000;
  }
}
