/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

@import "app/components/pages/start/start.component";
@import "app/components/forms/cwimpies/add-cwimpie/add-cwimpie.component";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  margin: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.click {
  cursor: pointer;
}

