/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  height: 100%;
}

body {
  margin: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.click {
  cursor: pointer;
}

// Formly
.valueType {
  formly-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}

.addCwimpies_page1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.mat-stepper-next, .mat-stepper-previous{
  display: none;
}

