@import "../../../../variables";

.allBirthdayCwimpies_layout {
  width: 100%;
  height: 100%;
}

no-birthdays {
  height: 400px;

  .mask {
    background-color: rgba(0, 0, 0, 0.6);;
  }
}

#birthdayCarousel {
  .carousel-slide {
    .carousel-indicators {
      button {
        color: $chai--black;
        opacity: 1 !important;
      }
    }
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    color: $chai--black;
  }
}
