<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted ">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Chai is a proud sponsor of the Liu Gazette!</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <div>
        Liu Gazette Logo
      </div>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Chai
          </h6>
          <p>
            Chai is an app designed to keep track of the lives and details of different soft toys.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Cwimpies
          </h6>
          <p>
            <a class="text-reset" routerLink="/cwimpies" role="button">
              View all
            </a>
          </p>
          <p>
            <a class="text-reset" routerLink="/cwimpies/generate" role="button">
              Generate
            </a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Learn more
          </h6>
          <p>
            <a class="text-reset" routerLink="/cwimpies/commandments" role="button">
              Commmandments
            </a>
          </p>
          <p>
            <a class="text-reset" routerLink="/cwimpies/locations" role="button">
              Map
            </a>
          </p>
          <p class="">
            <a class="text-reset"
               routerLink="/schedule"
            >
              Daily Schedule
            </a>
          </p>
          <p class="text-reset">
            <a class="text-reset"
               routerLink="/cwimpies/commandments"
            >
              Commandments
            </a>
          </p>
          <p class="text-reset">
            <a class="text-reset"
               routerLink="/cwimpies/locations"
            >
              Locations
            </a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Your account
          </h6>
          <p>
            <i class="fas fa-home me-3"></i>
            <a class="text-reset" routerLink="/profile" role="button">
              Profile
            </a>
          </p>
          <p>
            <i class="fas fa-home me-3"></i>
            <a class="text-reset" routerLink="/about-us" role="button">
              About Us
            </a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="theme-cold-grass">
    <div class="copyright">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://jasonliu.onrender.com/" target="_blank"
         data-tool-tip="Learn a little more about me">Jason Liu</a>
      <a href="https://github.com/jason469?tab=repositories" target="_blank"
         data-tool-tip="Come see what else I've built">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
