@use "/src/common/styles/abstracts" as a;
@use "/src/common/styles/themes/all-themes" as t;
@use "/src/common/styles/components" as c;

.footer {
  &[data-visible="true"]::before {
    content: '';
    //background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0/ 0.8));
    background: blue;
  }
}

.copyright {
  @include c.hover-link-tooltip(#FFFFFF, #000000);

  background-color: #565551;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1rem 0;
  text-align: center;
}

.active {
  @include a.themify(t.$themes) using($theme-map) {
    color: a.themed($theme-map, a.$tertiaryColour) !important;
  }
  //color: orange;
}

a:hover {
  @include a.themify(t.$themes) using($theme-map) {
    color: a.themed($theme-map, a.$tertiaryColour) !important;
  }
}
