@use "./abstracts" as a;
@use "./pages" as p;
@use "./components" as c;
@use "./base" as b;

@use "themes/all-themes" as t;

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

*, *::before, *::after {
  box-sizing: border-box;
}


.sr-only { // Screen Reader only
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
