:root {
  --accentColour: #000000;
  --primaryColour: #000000;
  --font: "Arial";
}

.stamp__background {
  max-height: 100%;
  aspect-ratio: 2 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primaryColour);
  background-color: var(--accentColour);
  /*background-image: radial-gradient(#fff 10%, transparent 11%),*/
  /*radial-gradient(#fff 10%, transparent 11%);*/
  /*background-size: 60px 60px;*/
  /*background-position: 0 0, 30px 30px;*/
  background-repeat: repeat;
  padding: 0.4rem;
}

.stamp__species {
}

.stamp__species__icon {
  color: var(--primaryColour);
}

.stamp__name {
  font-weight: bold;
  font-style: italic;
  font-family: var(--font);
  color: var(--primaryColour);
}
