:root {
  --accentColour: #000000;
  --primaryColour: #000000;
  --font: "Arial";
}

.stamp__background {
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 0.5rem solid var(--primaryColour);
  background-color: var(--accentColour);
  background-image: radial-gradient(#fff 10%, transparent 11%),
  radial-gradient(#fff 10%, transparent 11%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  background-repeat: repeat;
}

.stamp__species {
}

.stamp__species__icon {
  height: 5rem;
  color: var(--primaryColour);
}

.stamp__name {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  font-family: var(--font);
  color: var(--primaryColour);
}
